<!DOCTYPE html>
<!-- 
@Author : Jitendra Zaa
@Blog : http://shivasoft.in 
 -->
<html lang="en">
  <head>
    <title> Salesforce Query Builder </title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
      <link rel="icon"  type="image/icon"  href="SOQL.ico" />
  </head>
  <body class="container" style="padding-top:50px;">
      <div ng-app="app1" >
            <div class="jumbotron" ng-controller="ItemCtrl">
            
                <p>
                  <table  style="width:100%">
                    <tr>
                        <td  style="width:80%"> 
                            <h1> Salesforce Query Builder</h1> <br /> 
                            Node.js and AngularJs based Query Builder for Salesforce. <br />
                            To Start using, Select your Salesforce instance <br /> 
                           By <a href="https://www.linkedin.com/profile/view?id=22403646"> Dev Prakash</a> and <a href="http://www.jitendrazaa.com">Jitendra Zaa</a>   
                        </td> 
                        <td style="width:20%">
                            <img src="Salesforce.png" />
                        </td>
                    </tr>
                  </table>  
              </p>  
              <p>
                  <a ng-click="prod()" id="prodBtn" role="button" style="margin-right:40px" class="btn btn-primary btn-lg">Production</a>
                  <a  ng-click="sand()" id="sandBtn" role="button" class="btn btn-primary btn-lg">Sandbox</a></p>
            </div>
        </div>
      
    <script type="text/javascript" src="js/angular.min.js"></script> 
     <script type="text/javascript" src="js/OAuth.js"></script>  
      
     <script> 
     if (window.location.protocol != "https:" && window.location.hostname != 'localhost')
    	    window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
        
        var myApp = angular.module('app1',[ ]); 
        
        //As Cookies are inconsistent, Use LocalSTorage of HTML 5
        myApp.factory('storageService', function ($rootScope) {
            return {
                get: function (key) {
                   return localStorage.getItem(key);
                },
                set: function (key, data) {
                   localStorage.setItem(key, data);
                },
                remove: function (key) {
                    localStorage.removeItem(key);
                },
                clearAll : function () {
                    localStorage.clear();
                }
            };
        });
         myApp.controller('ItemCtrl', ['$scope' ,'storageService', function($scope,  storageService) {
             
                $scope.prod = function(){
                    $scope.login("https://login.salesforce.com/");
                }
                
                $scope.sand = function(){
                     $scope.login("https://test.salesforce.com/");
                }
                
                $scope.login = function(loginUrl) {
                      
                    
                    var url = loginUrl + 'services/oauth2/authorize?display=popup&response_type=token' +
                        '&client_id=' + encodeURIComponent(clientId) +
                        '&redirect_uri=' + encodeURIComponent(redirectURI);
                     
                    popupCenter(url, 'login', 700, 600);
                }
                
                $scope.setCokkies = function(response){ 
                    
                    storageService.set('SQBAccToken',response.access_token);
                    storageService.set('SQBAPIVer',apiVersion);
                    storageService.set('SQBInstURL',response.instance_url);
                    storageService.set('SQBidURL',response.id);
                    
                    var strngBrks = response.id.split('/');
                    
                    storageService.set('SQUserLoggedIn',strngBrks[strngBrks.length - 1]); 
                } 
                    
         }]);
          
      </script>
  </body>
</html>