<!DOCTYPE html>
<!-- 
@Author : Jitendra Zaa
@Blog : http://JitendraZaa.com
 -->
<html lang="en">
  <head>
    <title> Salesforce Query Builder </title>
      <link href="css/bootstrap.min.css" rel="stylesheet">
     <link rel="icon"  type="image/icon"  href="SOQL.ico" />
  </head>
  <body >
   
<div ng-app="app1" >  
    <div ng-controller="ItemCtrl">
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header"> 
                    <a class="navbar-brand" href="#">Salesforce Query Builder</a>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="http://shivasoft.in/blog"> created By - Jitendra Zaa </a></li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" id="btn-login">API Count : {{apiCount}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
         
        <div class="row" style="width:100%">
		
			<div class="col-md-3 form-horizontal">  
				<!-- Select Basic -->
				<div class="form-group">
				  <label class="col-md-2 control-label" for="optObjects">Objects</label>
				  <div class="col-md-10">
					<select multiple="multiple" ng-change="getAllFields()" id="optObjects" name="optObjects" class="form-control scrollV" ng-model="selectedObject">
					  <option  ng-repeat="obj in objects | filter:searchObj"  value="{{obj.apiName}}">{{obj.fieldLabel}}</option> 
					</select>
				  </div>
				</div> 
				<div class="form-group">
					<div class="col-md-2"> </div>
					<div class="col-md-10">
						<input ng-model="searchObj" id="txtSearchObj" name="txtSearchObj" type="search" placeholder="Search Objects" class="form-control input-md" /> 
					</div>
				</div>
			</div>
		
			<div class="col-md-3 form-horizontal">    
					<!-- Select Multiple -->
					<div class="form-group">
					 <label class="col-md-2 control-label" for="chkFields">Fields</label>
						<div class="col-md-10 roundedCorner scrollV">
						  <div class="checkbox row" ng-repeat="fld in fields | filter:searchText" >
							<label for="{{fld.apiName}}" class="labelFull"> 
								<input type="checkbox" name="chkFields" id="{{fld.apiName}}" ng-model="fld.isSelected" ng-change="updateSOQL()" /> 
								<span ng-if="isAPIName == false"> {{fld.fieldLabel}} </span>
								<span ng-if="isAPIName == true"> {{fld.apiName}} </span>  
							 </label>
						   </div> 
						</div> 
					</div>
						
						 <!-- Search input-->
					<div class="form-group">  
						<div class="col-md-2"> 
							<label class="checkbox-inline" for="checkAll">
								<input type="checkbox" name="checkAll" id="checkAll" value="{{isAll}}" ng-model="isAll" ng-change="checkUnCheckAll()"/> 
								All
							</label>
						</div>
						
						<div class="col-md-6">
							<input ng-model="searchText" id="txtSearchField" name="txtSearchField" type="search" placeholder="Search Fields" class="form-control input-md" /> 
						</div>
						  
						<div class="col-md-4">
							<label class="checkbox-inline" for="ShowAPI-0">
								<input type="checkbox" name="ShowAPI" id="ShowAPI-0" value="API" ng-model="isAPIName" />
								API Name 
							</label>
						</div>
					</div> 
			</div> 
        
			<div class="col-md-6">  
				<div class="form-horizontal">   
					<!-- Textarea -->
					<div class="form-group">
					  <label class="col-md-1 control-label" for="txtSOQL">SOQL</label>
					  <div class="col-md-11">                     
						<textarea ng-model="SOQL" class="form-control" style="height:150px;" id="txtSOQL" name="txtSOQL">
						  
						  </textarea>
					  </div>
					</div>

					<div class="form-group">
					  <label class="col-md-1 control-label" > </label>
					  <div class="col-md-11">                     
						 <button ng-click="run()" id="singlebutton" name="singlebutton" class="btn btn-info">Run Query </button>
                          <a href="#" ng-click="saveQuery()" class="btn btn-default"> Save
                              <span class="glyphicon glyphicon-floppy-save"></span>
                          </a>
                          
                           <a href="#" ng-click="showSavedModal()" class="btn btn-default"> Stored Query
                               <span class="glyphicon glyphicon-hdd"></span>
                          </a>
                          
					  </div>
					</div>
				</div>
			</div> 
     </div>
        
        <div class="form-group col-md-12" ng-show='columnLabel.length > 0'> 
          <div class="col-md-8"></div>
            <div class="col-md-2">
                <input ng-model="txtSearchRecords" id="txtSearchRecords" name="txtSearchRecords" 
                       type="search" placeholder="Search current page" class="form-control input-md">
            </div> 
            
            <div class="col-md-1" style="font-size:0.9em">Page {{currentPage+1}} of {{pagedItems.length}} </div>
          <div class="col-md-1"> 
            <button ng-disabled="currentPage <= 0" ng-click="decr()" id="btnPrev" name="btnPrev" class="btn btn-default">&lt;</button>
            <button ng-disabled="currentPage+1 >= pagedItems.length" ng-click="incr()" id="btnNext" name="btnNext" class="btn btn-default">&gt;</button>
          </div>
        </div> 
        <table class="table table-striped table-bordered table-hover table-condensed">
            <th ng-repeat="col in columnLabel"> 
                <a href="" ng-click="sortColumn(col)">{{col}} </a>
            </th>
            <tr ng-repeat="row in pagedItems[currentPage] | filter:txtSearchRecords | orderBy:orderByColumn:reverse track by $index">
                <td ng-repeat="i in columnLabel">
                    {{row[i]}}
                </td>
            </tr>
        </table> 
        
        <div id="errorModelContainer" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content" >
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">
                      <span aria-hidden="true">x</span><span class="sr-only">Close</span>
                  </button>
                  <h4 class="modal-title" id="errorModelTitle">{{errorHead}}</h4>
                </div>
                <div class="modal-body" >
                   <div class="alert alert-danger" role="alert" id="errorModelText"> {{errorMsg}} </div>
                </div>
            </div>  
          </div>
        </div>
        
        <div id="savedQuery" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content" >
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">
                      <span aria-hidden="true">x</span><span class="sr-only">Close</span>
                  </button>
                  <h4 class="modal-title" id="errorModelTitle">All Saved Query</h4>
                </div>
                <div class="modal-body" >
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <th>  Query Name  </th>
                        <th>  Actions  </th>
                        <tr ng-repeat="row in savedQueryList track by $index" >
                            <td> {{row.name}} </td>
                            <td> 
                                
                                <a href="#" ng-click="useQuery(row.uniqueId)" class="btn btn-default btn-xs">
                                    <span class="glyphicon glyphicon-hand-left"></span></a>
                                
                                <a href="#" ng-click="removeQuery(row.uniqueId)" class="btn btn-default btn-xs"> 
                                    <span class="glyphicon glyphicon-trash"></span></a>
                                 
                            </td> 
                        </tr>
                    </table> 
                    <a href="" ng-click="clearAllSavedQuery()">Clear all</a>
                </div>
            </div>  
          </div>
        </div>
         
    </div>

</div>
<style>
	body{
		font-size:12px;
	}
    .roundedCorner {
            -webkit-border-radius: 5px !important;
            -moz-border-radius: 5px !important;
            border-radius: 5px !important;
            -webkit-border-top: 5px !important;
            -moz-border-top: 5px !important;
            border-top: 5px !important;
            -webkit-border-bottom: 5px !important;
            -moz-border-bottom: 5px !important;
            border-bottom: 5px !important;
            padding-left : 30px;
            border:1px solid #CCCCCC !important; 
    }
    .labelFull { 
            width: 100%;
            display: inline-block !important;
            }
            
    .scrollV {
        overflow-y: auto !important;
        height : 150px;
    }
	select[multiple], select[size] {
		height: 150px;
	}
</style>
     
<script type="text/javascript" src="lib/jquery.js"></script>  
<script type="text/javascript" src="lib/bootstrap.min.js"></script>         
<script type="text/javascript" src="js/angular.min.js"></script> 
<script type="text/javascript" src="js/OAuth.js"></script>  
      
<script> 
    
var myApp = angular.module('app1',[ ]);  

//As Cookies are inconsistent, Use LocalSTorage of HTML 5
myApp.factory('storageService', function ($rootScope) {
        return {
            get: function (key) {
               return localStorage.getItem(key);
            },
            set: function (key, data) {
               localStorage.setItem(key, data);
            },
            remove: function (key) {
                localStorage.removeItem(key);
            },
            clearAll : function () {
                localStorage.clear();
            }
        };
    });

 myApp.controller('ItemCtrl', ['$scope','$templateCache','$http',  '$filter', 'storageService', function($scope,$templateCache,$http,$filter, storageService) {
     
    $scope.objects =  [] ;
    $scope.fields =  [] ;
    $scope.isAPIName = false;
    $scope.searchText = '';
    $scope.selectedObject = '';
    $scope.SOQL = 'SELECT Name, Title, Phone FROM contact ';
    $scope.isAll = false;
    $scope.output = [];
    $scope.columnLabel = [];
    $scope.msg = '';
    $scope.pageSize = 10 ;
    $scope.currentPage = 0;  
    $scope.orderByColumn = '';
    $scope.reverse = true;
    $scope.apiCount = 0;
    $scope.savedQueryList = [];
     
    
                
    $scope.SQBAccToken = storageService.get('SQBAccToken') ;
    $scope.SQBAPIVer = storageService.get('SQBAPIVer') ;
    $scope.SQBInstURL = storageService.get('SQBInstURL') ;
    $scope.loggedInUserId = storageService.get('SQUserLoggedIn') ;
     
    $scope.savedQueryList = JSON.parse(storageService.get($scope.loggedInUserId+'savedQuery'));
     
     
    if(!$scope.savedQueryList)
    {
        $scope.savedQueryList = new Array();
        console.log('I am not set');
    }
     
     $scope.clearAllSavedQuery = function (){
        if(confirm('Are you sure you want to delete all saved quries ?'))
        {
            storageService.remove($scope.loggedInUserId+'savedQuery');
            $scope.savedQueryList = new Array();
        }
     }
     
     $scope.sortColumn = function(txt){ 
         $scope.orderByColumn = txt;
         $scope.reverse = !$scope.reverse;
     }
     $scope.incr = function(){
         if($scope.currentPage < $scope.pagedItems.length)
         {
             $scope.currentPage = $scope.currentPage+1;
         } 
     }
     $scope.decr = function(){
         if($scope.currentPage > 0)
         {
             $scope.currentPage = $scope.currentPage-1;
         } 
     }
     
     $scope.checkUnCheckAll = function(){
         
         angular.forEach($scope.fields, function (item, index) { 
             if($scope.isAll)
                item.isSelected = true;
            else
                item.isSelected = false;
         });
         
         $scope.updateSOQL();
     } 
     
   $scope.useQuery = function(unId){
        for(var i=0; i < $scope.savedQueryList.length; i++){
            if($scope.savedQueryList[i].uniqueId == unId)
            {
                $scope.SOQL = $scope.savedQueryList[i].query ;
                break;
            }
        }
       angular.element("#savedQuery").modal('hide');
   }
   
   $scope.removeQuery = function(unId){
        
       var indexToDel = -1;
       
       for(var i=0; i < $scope.savedQueryList.length; i++){
            if($scope.savedQueryList[i].uniqueId == unId)
            {
                indexToDel = i ;
                break;
            }
        }
       
       if(indexToDel > -1)
       {
           $scope.savedQueryList.splice( $scope.savedQueryList.indexOf(indexToDel), 1 );
       }
       
       storageService.set($scope.loggedInUserId+'savedQuery',JSON.stringify($scope.savedQueryList));
       angular.element("#savedQuery").modal('hide');
   }
     
   $scope.groupToPages = function () {
        $scope.pagedItems = []; 
        for (var i = 0; i < $scope.filteredItems.length; i++) {
            if (i % $scope.pageSize === 0) {
                $scope.pagedItems[Math.floor(i / $scope.pageSize)] = [ $scope.filteredItems[i] ];
            } else {
                $scope.pagedItems[Math.floor(i / $scope.pageSize)].push($scope.filteredItems[i]);
            }
        }
    };
     
     $scope.updateSOQL = function(){ 
         $scope.SOQL = '';
         
         angular.forEach($scope.fields, function (item, index) {
             
             if(item.isSelected)
             {
                 $scope.SOQL =  $scope.SOQL + ' '+ item.apiName + ', ' ;
                 //$scope.SOQL =  $scope.SOQL + '\t'+ item.apiName + ',\n' ;
             }
         });
         
         if($scope.SOQL != '')
         {
             $scope.SOQL = $scope.SOQL.replace(/,\s*$/, "");
             $scope.SOQL = ' SELECT ' + $scope.SOQL + ' FROM '+$scope.selectedObject ;
             //$scope.SOQL = ' SELECT \n' + $scope.SOQL + ' \n FROM \n\t'+$scope.selectedObject ;
         }
     }
     
     $scope.getAllFields = function(){
         $scope.fields = [];
          $scope.apiCount = $scope.apiCount + 1; 
         $scope.url = $scope.SQBInstURL + '/services/data/'+ $scope.SQBAPIVer + '/sobjects/'+$scope.selectedObject+'/describe' ; 
         $http({method: 'GET', url: proxyURL, headers: {'X-Authorization': 'OAuth '+$scope.SQBAccToken , 
                                                          'SFDCActualURL' : $scope.url  
                                                         } }).
                success(function(data, status) { 
                     angular.forEach(data.fields , function (item, index) { 
                         $scope.fields.push($scope.createJSONData(item.label,item.name));
                     });
                    
                }).
                error(function(data, status) {
                  $scope.data = data || "Request failed "; 
              });
     }
    
     $scope.getAllObjects = function(){
         $scope.apiCount = $scope.apiCount + 1; 
         $scope.url = $scope.SQBInstURL + '/services/data/'+ $scope.SQBAPIVer + '/sobjects' ; 
           
         $http({method: 'GET', url: proxyURL, headers: {'X-Authorization': 'OAuth '+$scope.SQBAccToken, 
                                                          'SFDCActualURL' : $scope.url  
                                                         } }).
                success(function(data, status) { 
                     angular.forEach(data.sobjects , function (item, index) { 
                         $scope.objects.push($scope.createJSONData(item.label,item.name));
                     });
                    
                }).
                error(function(data, status) {
                  $scope.data = data || "Request failed "; 
              });
     }
     
     $scope.run = function(){
    	 
    	 $scope.output = [] ; 
         $scope.filteredItems = [] ;
         $scope.pagedItems = [] ;
         $scope.columnLabel = [];
         
         $scope.apiCount = $scope.apiCount + 1; 
         soqlWoNewline = $scope.SOQL.replace(/[\r\n]/g, " ");
         
         $scope.url = $scope.SQBInstURL + '/services/data/'+ $scope.SQBAPIVer + '/query?q= '+ soqlWoNewline ; 
         $http({method: 'GET', url: proxyURL, headers: {'X-Authorization': 'OAuth '+$scope.SQBAccToken , 
                                                          'SFDCActualURL' : $scope.url  
                                                         } }).
                success(function(data, status) { 
                    $scope.output = data.records ; 
                    $scope.filteredItems = $scope.output ;
                    $scope.groupToPages();
                    
                    isFirst = true; 
                    angular.forEach(data.records[0], function (item, index) { 
                        if(!isFirst)
                        {
                            $scope.columnLabel.push(index);
                        }
                        isFirst = false;
                          //$scope.columnLabel.push(item[0]);
                     });
                    
                }).
                error(function(data, status) {
                  $scope.data = data || "Request failed "; 
                  $scope.errorHead = data[0].errorCode ;
                  $scope.errorMsg = data[0].message ;
                  angular.element("#errorModelContainer").modal() ;
              });
         
     }
     
   $scope.showSavedModal = function(){
        angular.element("#savedQuery").modal() ;
   }
  
   $scope.createJSONData = function(fLabel,fAPI) {
        return {"fieldLabel":fLabel,"apiName":fAPI, "isSelected":false } ;
    } 
   $scope.saveQuery = function(){
       var queryName = prompt("Enter Name of Query","");
       if(queryName)
       {
           var storedQuery = new Object();
           storedQuery.name = queryName ;
           storedQuery.query = $scope.SOQL ; 
           storedQuery.uniqueId = new Date().getTime();
             
           $scope.savedQueryList.push(storedQuery);
           
           storageService.set($scope.loggedInUserId+'savedQuery',JSON.stringify($scope.savedQueryList));
           console.log(storageService.get($scope.loggedInUserId+'savedQuery'));
       }
   }
   
   $scope.getAllObjects();  
   
 }]);
  
</script> 
  </body>
</html>